*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-colour: #28649b;
}

@media (max-device-width: 1000px) {
    .bg-circles{
        display: none;
    }
}

body{
    background-color:var(--bg-colour);
    font-family: Avenir, Helvetica,Arial,sans-serif;
    width: auto;
    height: auto;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}

.description p{
    font-size: 1.5rem;
    padding: 1vh 3vw;
    background-color: #0d1f4d;
    /* background-color: #f29f0f; */
    border-radius: 10px;
    text-align: center;
}

.light-dark-left {
    background-color: #fff;
}
.light-dark-right{
    background-color: #000;
}

.top-pic img{
    position: relative;
    transition: all 0.3s ease;
    margin-top: 50px;
    border: 6px solid #fff;
    width: 25vh;
    height: auto;
    border-radius: 50%;
}

.crest img{
    margin-top: 100px;
    width: 300px;
    height: auto;
}

.background{
    position:absolute;
    z-index: -1;
    bottom: 125px;
}

.bg-pic img{
    position:fixed;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    left:0px;
    bottom:125px;
    /* top: 500px; */
    width: 100%;
    max-height: 90%;
    height: auto;
    /* background-size: 100%; */
    /* z-index:-1; */
    /* filter: blur(20px); */
    opacity: 30%;
    filter: blur(3px) grayscale(100%);
}
.bg-circles {
    z-index: -1;
    filter: blur(1px);
}
.circle1{
    position: absolute;
    left: 7vw;
    bottom: 50vh;
    /* filter: blur(1px); */
}
.bg-circles .circle2{
    position: absolute;
    left: 75vw;
    bottom: 20vh;
    /* filter: blur(1px); */
}

.top-pic img:hover{
    /* animation: link-animation 1s; */
    transform: scale(1.2);
    border-color: #0d1f4d;
}


a{
    text-decoration: none;
    color: #0d1f4d;
    text-align: center;
}

div.link:hover {
    /* background-color: #0d1f4d;
    color: #fff;*/
    transition: all 0.3s ease;
    transform: scale(1.2);
    /* animation: link-animation 1s; */
}

/* animation experimentation */
@keyframes link-animation{
    0% {
        transition: all 0.3s ease;
        /* background-color: #0d1f4d; */
        /* color: #fff; */
    }
    50% {
        transition: all 0.3s ease;
        transform: scale(1.2);
    }
}

.title {
    /* font-size: 3.5rem; */
    font-size: 7vh;
    /* -webkit-text-stroke-width: 3px; */
    /* -webkit-text-stroke-color: #0d1f4d; */
}

header,
.description p{
    margin: auto;
    color: #fff;
}

.link-container {
    margin-top: 2vh;
    flex-direction: column;
}

.link{
    width: 100%;
    margin: 5px;
    padding: 1vh 6vw;
    background-color: #fff;
    border-radius: 20px;
}


footer {
    position: fixed;
    /* position: relative; */
    bottom: 0;
    width: 100%;
    height: 13vh;
    background: #0d1f4d;
    filter: drop-shadow(0 0 3mm #0d1f4d);
}

footer .container {
    /* padding: 1rem;
    max-width: 1200px;
    margin: auto; */
    display: flex;
    flex-direction: column;
    color: #fff;
}
/*
footer .contact {
    background: #0d1f4d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

footer .contact a {
    /* height: 45px;
    width: 45px; */
    margin: auto auto 0;
}

footer .contact .social-media-icons {
    display: flex;
    width: 100%;
    margin-top: 20px;
    /* margin: auto; */
    padding: 5% 0;
}

.social-media-icons img{
    margin-left: 0.5rem;
}

